<nz-page-header [nzGhost]="false">
    <nz-page-header-title>Medicamentos</nz-page-header-title>
    <nz-page-header-extra>
        <nz-space>
            <button *nzSpaceItem nz-button (click)="showNew = true">Nuevo</button>
        </nz-space>
    </nz-page-header-extra>
</nz-page-header>

<nz-row nzJustify="center">
    <nz-col nzSpan="16">
        <form nz-form [nzLayout]="'vertical'" [formGroup]="form" *ngIf="showNew">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzRequired>Nombre del medicamento</nz-form-label>
                <nz-form-control [nzSpan]="14" nzErrorTip="Ingrese un nombre correcto">
                    <input nz-input formControlName="medicine">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzRequired>Tipo</nz-form-label>
                <nz-form-control [nzSpan]="14" nzErrorTip="Ingrese un tipo" >
                    <nz-select formControlName="type">
                        <nz-option [nzValue]="t.code" [nzLabel]="t.name" *ngFor="let t of types"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzRequired>Cantidad</nz-form-label>
                <nz-form-control [nzSpan]="14" nzErrorTip="Ingrese una cantidad válida">
                    <input nz-input type="number" formControlName="quantity">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)">
                <nz-form-control [nzSpan]="14" nzErrorTip>
                    <div *ngIf="quantity.errors?.['required']">
                        La cantidad es obligatoria.
                    </div>
                    <div *ngIf="quantity.errors?.['min']">
                        La cantidad no puede ser negativa.
                    </div>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzRequired>Distribuidor</nz-form-label>
                <nz-form-control [nzSpan]="14" nzErrorTip="Seleccione un distribuidor">
                    <nz-radio-group formControlName="distributor">
                        <label nz-radio [nzValue]="d.code" *ngFor="let d of distributors">{{d.name}}</label>
                    </nz-radio-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzRequired>Sucursal</nz-form-label>
                    <span class="error-input" *ngIf="!isValidBranch">Seleccione una sucursal</span>
                <nz-form-control [nzSpan]="14" nzErrorTip="Seleccione una Sucursal">
                    <nz-checkbox-group [(ngModel)]="branchs" [ngModelOptions]="{standalone: true}"  (ngModelChange)="log()">
                    </nz-checkbox-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzSpan]="15" [nzOffset]="5">
                    <nz-space>
                        <button *nzSpaceItem nz-button nzType="primary" (click)="onOkForm()">OK</button>
                        <button *nzSpaceItem nz-button nzType="primary" (click)="delete()" nzDanger>Borrar formulario</button>
                        <button *nzSpaceItem nz-button nzType="primary" (click)="showNew = false" nzDanger>Cancelar</button>
                    </nz-space>
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-col>
</nz-row>

<nz-modal [(nzVisible)]="isVisible" [nzTitle]="'Pedido al Distribuidor '+distributorSe" [nzFooter]="null" nzClosable>
    <ng-container *nzModalContent>
        <nz-row>
            <h2>Medicamento a pedir: </h2>
        </nz-row>
        <nz-row>
            <h4>{{quantitySe}} unidades del {{typeSe}} con el nombre {{medicineSe}}</h4>
        </nz-row>
        <nz-row>
            <h4 >Para la Farmacion situada en {{address}}</h4>
        </nz-row>
        <nz-row [nzGutter]="[8,8]" nzJustify="end">
            <nz-col>
                <button nz-button nzType="default" (click)="handleCancel()" >Cancelar</button>
            </nz-col>
            <nz-col>
                <button nz-button nzType="primary" (click)="handleOk()" >Guardar</button>
            </nz-col>
        </nz-row>
    </ng-container>
</nz-modal>